div {
    display: inline-block;
    margin: auto;
    padding-left: 5%;
}

css-doodle {
    --rule-grid-1: ( :doodle {
            @grid: 1 / 90vw 33vh;
            background: linear-gradient(#5c8c61, #fbd48c);
            overflow: hidden;
        }

        :container {
            filter: @svg-filter(<svg> <filter> <feTurbulence type="fractalNoise"
                seed="@r(1000)"
                baseFrequency=".5"
                numOctaves="10"/> <feDisplacementMap in="SourceGraphic"
                scale="240"
                /> </filter> </svg>)
        }

        background: @m(100, (radial-gradient(#fff 50%, transparent 0) @r(0, 100%) @r(0, 100%) / @r(50px) @r(100px) no-repeat));
    );

    --rule-grid-2: ( :doodle {
            @grid: 1 / 90vw 33vh;
            background: linear-gradient(#fbd48c, #5c8c61);
            overflow: hidden;
        }

        :container {
            filter: @svg-filter(<svg> <filter> <feTurbulence type="fractalNoise"
                seed="@r(1000)"
                baseFrequency=".1"
                numOctaves="10"/> <feDisplacementMap in="SourceGraphic"
                scale="240"
                /> </filter> </svg>)
        }

        background: @m(100, (radial-gradient(#fff 50%, transparent 0) @r(0, 100%) @r(0, 100%) / @r(50px) @r(100px) no-repeat));
    );

    --rule-grid-3: (:doodle {
            @grid: 1 / 90vw 33vh;
            background: linear-gradient(#5c8c61, #fbd48c);
            overflow: hidden;
        }

        :container {
            filter: @svg-filter(<svg> <filter> <feTurbulence type="fractalNoise"
                seed="@r(1000)"
                baseFrequency=".02"
                numOctaves="10"/> <feDisplacementMap in="SourceGraphic"
                scale="240"
                /> </filter> </svg>)
        }

        background: @m(100, (radial-gradient(#fff 50%, transparent 0) @r(0, 100%) @r(0, 100%) / @r(50px) @r(100px) no-repeat));
    );
}